%h3
  =object.name
  .actions
    =link_to image_tag("http://www.full-circle-arts.co.uk/img/remove_basket.gif",:style=>"height:15px"), group_path(object) ,:method=>"delete", :remote=>true
    /=link_to 'delete' ,:method=>"delete", :remote=>true
    =link_to_function image_tag("http://www.customicondesign.com/images/freeicons/toolbar/48/edit48.png",:style=>"height:15px") do |page|
      /=link_to_function 'edit' do |page|
      -page<<"$('#edit_group_#{object.id}').show()"
      -page<<"$(this).parent().removeClass('actions')"
    =link_to_function image_tag("http://www.elsieapp.com/wordpress/wp-content/uploads/2009/03/add.png",:style=>"height:15px") do |page|      
      /=link_to_function 'add' do |page|      
      -page<<"$('#new_group_#{object.id}_task_form').show()"
    =link_to_function 'u' do |page|
      -page<<"unbindGroupFromSpace(#{object.id},currentSpaceId())"
  
    =form_for object, :remote => true ,:html => {:id=>"edit_group_#{object.id}",:style=>"display:none"} do |f|
      =f.label :name
      =f.text_field :name
      =f.submit("update")
      =link_to_function 'cancel',"$('#edit_group_#{object.id}').hide();$(this).parent().parent().addClass('actions')"
    .handle
    .clear
    .group-info
    .clear
    .export.right
      Move...
      .export-spaces
        -object.available_spaces.each do |space|
          %div=link_to_function space.name,"addGroupToSpace(#{object.id},#{space.id})"
      
.clear
=form_for Task.new, :url => group_tasks_path(object),:remote => true,:html=>{:id=>"new_group_#{object.id}_task_form",:style=>"display:none"} do |f|
  =f.label :name
  =f.text_field :name
  =f.submit(:add)
  .clear
%ul.uncompleted
  -object.tasks.uncompleted.each do |task|    
    =form_for task, :url=>group_task_path(object.id,task.id),:remote => true, :html=>{:id=>"form_task_#{task.id}"} do |f|
      %li.draggable{:id=>"task_#{task.id}"}
        =f.check_box :completed,:onchange=>"$(this.form).callRemote();"
        =f.hidden_field :group_id
        =task.name
        .handle
%ul.completed 
  -object.tasks.completed.each do |task|
    %li
      =form_for task, :url=>group_task_path(object.id,task.id),:remote => true do |f|
        =f.check_box :completed,:onchange=>"$(this.form).callRemote();"
        =f.hidden_field :group_id
        =task.name



